<!DOCTYPE html>
<html>
  <head>
    <title>Chuba1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
	
<% if user_signed_in? %>
      <ul>
        <li><%= blog_to 'Submit blog', new_blog_path %></li>
        <li><%= blog_to 'Account', edit_user_registration_path %></li>
        <li><%= blog_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= blog_path 'Sign up', new_user_registration_path %></li>
        <li><%= blog_path 'Sign in', new_user_session_path %></li>
      </ul>
<% end %>

	
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
</html>
